<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> rendder </h3>
    <section>
        <h4>form</h4>
        <form action="/" method="post">
            <label for="input">input</label>
            <input type="text" id="input" name="cliente"/>
            <button type="submit"> enviar</button>
        </form>
    </section>
    <scripts src="../../public/assets/bundle.js"></scripts>
</body>
</html>